@import "../../style.scss";

.profile{
    @include themify($themes){
        background-color: themed("bgSoft");

        .images{
            width: 100px;
            height: 300px;
            position:  relative;
            .cover{
                width: 900px;
                height: 100%;
                object-fit: cover;

            }
            .profilePic{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                position: absolute;
                top: 300px;
                left: 425px;
                transform: translate(-50%, -50%);
                @include mobile{
                    position:absolute;
                    left: 200px;
                }
            }

            }

            .profileContainer{
                padding: 20px 70px;

                @include mobile{
                    padding: 10px
                }
                

            .uInfo{
                height: 450px;
                -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                border-radius: 20px;
                background-color: themed("bg");
                color: themed("textColor");
                padding: 50px;
                display: flex;
                align-items:center;
                justify-content: space-between;
                margin-bottom: 20px;

                @include mobile{
                    flex-direction: column;
                    height: 30vh;
                    padding: 20px;
                    margin-top: 100px;
                    height: 400px;
                }

                .left{
                    flex: 1;
                    display: flex;
                    gap: 10px;
                    margin-bottom: 20%;
                    

                    a{
                        color: themed("textColorSoft");
                        @include mobile{
                            position: relative;
                            left: 50px;
                        }
                    }

                    }
                
                .bottomLeft{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    position: relative;
                    right: 175px;
                    top: 200px;
                    @include mobile{
                        flex-direction: column;
                        height: 10px;
                        padding: 10px;
                    }

                    span{
                        margin-top: 20px;
                    }
                    
                }    

                .center{
                    flex:1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 300px;
                    margin-right: 50px;

                    span{
                        font-size: 20px;
                        font-weight: 500;
                    }


                    button{
                        border: none;
                        background-color: #5271ff;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
                .right{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 10px;
                    margin-bottom: 200px;


                }
            }
        }
        
    }
}